{% load static %}
<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top footer">
        <div class="col-md-4 d-flex align-items-center"> 
            <a href="/"
                class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> <svg
                    class="bi" width="30" height="24" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg> </a> <span class="mb-3 mb-md-0 text-body-secondary">Copyright © 2024-<script>document.write(new Date().getFullYear())</script> 南歌EuanSu</span> </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-4">
            <li class="ms-3">
                <a class="text-body-secondary" href="https://www.djangoproject.com/" aria-label="Django">
                    <img src="{% static 'images/django-logo.png' %}" width="30" height="30" alt="Logo" class="bi me-2">
                </a>
            </li>
            <!-- <li class="ms-3">
                <a class="text-body-secondary" href="https://getbootstrap.com/" aria-label="BootStrap">
                    <img src="{% static 'images/bootstrap-logo.png' %}" width="30" height="30" alt="Logo" class="bi me-2">
                </a>
            </li> -->
        </ul>
    </footer>
</div>

<style>
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

/* 为了防止页面内容被固定定位的页脚遮挡，需要给主内容添加下边距 */
body {
    margin-bottom: 100px; /* 根据footer的高度调整 */
}
</style>