{% load static %}

<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> 
      <a href="/article/list/"
        class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"> 
        <img src="{% static 'images/logo.png' %}" width="40" height="40" alt="Logo" class="bi me-2">
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/article/list/" class="nav-link px-2 link-secondary">南歌EuanSu的个人网站</a></li>
        <!-- <li><a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Customers</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Products</a></li> -->
      </ul>

      <!-- 搜索框 -->
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> 
        <input type="search" class="form-control"
          placeholder="Search..." aria-label="Search"> 
      </form>
      <!-- Django的 if 模板语句 -->
      {% if user.is_authenticated %}
      <!-- 如果用户已经登录，则显示用户名下拉框 -->
      <div class="dropdown text-end"> <a href="#"
        class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false"> 
        {% if user.avatar %}
          <img src="{{ user.avatar.url }}" alt="{{ user.username }}" width="32" height="32" class="rounded-circle">
        {% else %}
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> 
        {% endif %}
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li><a class="dropdown-item" href="{% url 'article:article_create' %}">新增文章</a></li>
          <li><a class="dropdown-item" href="{% url "userprofile:detail" user.id %}">信息查看</a></li>
          <li><a class="dropdown-item" href="{% url "userprofile:edit" user.id %}">信息修改</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url "userprofile:logout" %}">注销登录</a></li>
        </ul>
      </div>
      <!-- 如果用户未登录，则显示 “登录” -->
      {% else %}
      <!-- <button type="button" class="btn btn-outline-primary me-2" href="{% url 'userprofile:login' %}">Login</button> -->
      <a href="{% url 'userprofile:login' %}" class="nav-link me-2 link-secondary">登录</a>
      <a href="{% url 'userprofile:register' %}" class="nav-link me-2 link-secondary">注册</a>
      <!-- if 语句在这里结束 -->
      {% endif %}
    </div>
  </div>
</header>