/*设置文章导航*/
.article-toc {
    position: fixed;
    width: 19%;
    max-height: 36.3rem;
    overflow: auto;
    background: white;
    padding: 1rem 1rem .2rem 0;
}

.subject-list::-webkit-scrollbar,
.article-toc::-webkit-scrollbar {
    width: 4px;
}

.subject-list::-webkit-scrollbar-track,
.article-toc::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 2px
}

.subject-list::-webkit-scrollbar-thumb,
.article-toc::-webkit-scrollbar-thumb {
    background-color: #e4e6eb;
    outline: none;
    border-radius: 2px
}

.article-toc .toc-title {
    margin-left: 1rem;
    padding-bottom: .6rem;
    margin-bottom: .8rem;
    border-bottom: 1px solid #e4e6eb;
}

.article-toc ul {
    padding-left: 1rem;
    list-style-type: none;
}

.article-toc ul > li > ul li {
    font-size: 94%;
}

.article-toc li {
    margin-top: .4em;
    margin-bottom: .4em;
}

.article-body .alert p {
    margin-bottom: .1rem;
}

.toc a {
    display: block;
    color: rgba(60, 60, 67, .8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toc a:hover {
    color: rgba(33, 37, 41, 1);
}

.toc a.active {
    color: #10b981;
}


.toc a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 1.2rem;
    border-radius: 2px;
    background-color: transparent;
}

.toc a.active::before {
    background-color: #10b981;
}
