{% extends "base.html" %}
{% load static %}

{% block title %}专题 | {{SITE_NAME}} {% endblock title %}

{% block content %}
<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> -->
<div class="row mx-auto d-flex justify-content-center" style="overflow: hidden;">
    {% for category in categories %}
    <div class="col-auto pt-4">
      <a class="text-decoration-none text-reset" href="{% url 'article:article_category_detail' category.id %}">
        <div class="card ms-2" style="width: 16rem;overflow-x: hidden;">
          <div class="card-image-wrapper ">
            {% if category.icon %}
            <img src="{{category.icon.url}}" class="card-img-top" alt="...">
            {% else %}
            <img src="{% static 'images/category.jpg' %}" alt="Default Icon">
            {% endif %}
          </div>
            <div class="card-body">
              <div style="text-align: center;">
                <h5 class="card-title">{{category.name}}</h5>
                <p style="font-size: 14px;color: gray;">文章数量：{{category.count}}篇</p>
              </div>
              
              <div class="border-bottom border-1 my-2"></div>
              <p class="card-text" style="font-size: 14px;color: gray; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden;">{{category.description}}</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
      </a>
    </div>
    
    
    {% endfor %}
</div>



{% endblock content %}