{% extends "base.html" %}
{% load static %}

{% block title %}专题 | {{SITE_NAME}} {% endblock title %}
{% block content %}
<style>
  .line {
    display: flex;
    justify-content: space-between; /* 两端对齐 */
    /* align-items: center; 垂直居中，可选 */
  }

  .text-limit {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
</style>


<div class="card w-75 mb-3 mx-auto mt-5">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;color: #69CBF2;">{{category.name}}</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <!-- <a href="#" class="btn btn-primary">Button</a> -->
      <div class="border-bottom border-2 my-2"></div>
      <ul class="list-group list-group-flush">
        {% for article in articles %}
        <li class="list-group-item">
            <a href="{% url 'article:article_detail' article.uuid %}" class="text-decoration-none text-dark">
              <div class="line">
                <p class="left text-limit">{{article.title}}</p>
                <p class="right">{{article.created}}</p>
                
              </div>

                <!-- <p class="card-text">{{article.description}}</p> -->
            </a>
        </li>
        {% endfor %}
        <ul>
    </div>
  </div>
{% endblock content %}