{% extends "base.html" %}
{% load static %}

{% block title %} 写文章 | {{SITE_NAME}} {% endblock title %}

{% block extra_head %}
{{ form.media }}
{% endblock extra_head %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form method="post" action="." class="my-4">
                {% csrf_token %}
                {{ article_post_form.media }}
                {{ article_post_form.as_p }}
                <button type="submit" class="btn btn-primary">文章发表</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}